<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zjut.spydocuploadbrowser.mapper.DocInfoMapper">

    <resultMap id="BaseResultMap" type="org.zjut.spydocuploadbrowser.entity.DocInfo">
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="lastModifiedTime" column="last_modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,file_name,file_path,
        file_type,last_modified_time
    </sql>
</mapper>
